body{
    background-image: url("./static/images/coal-mine.jpg"); ;
    background-size: cover;
    /* background-repeat: no-repeat; */
    background-attachment: fixed;
    color: white;
    
}

main{
    background-color: rgba(0, 0, 0, 0.8);
}

.footer{
    color: white;
    font-family: cursive, 'Brush Script MT';
    background-color: rgba(0,0,0,0.8);
    
}

b{
    color: black;
}

td, th{
    color: white;
}

#home-text{
    font-size: 20px;
}

@media print {
    * {
      display: none;
    }
    #printableTable {
      display: block;
    }
  }